<!DOCTYPE html>
<html>
<head>
  <title>GodFood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe460effd4f3923a518a455a7ecdd0b2d' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
